table {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 1rem;
    text-align: right;
}

table thead {
    font-size: 0.7rem;
    color: #83e6c0;
}

table tbody {
    font-family: 'Roboto condensed', sans-serif;
    font-size: 0.85rem;
    color: #c2e9e0;
}